/* :root { 
 
} */


html {
    scroll-behavior: smooth;
}
body {
    /* background-image: url('/assets/images/clouds.jpg'); */
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(126, 161, 142, 0.8);
    
}

.container {
    padding: 15px;
    /*  add comment here */
    display: flex;
    justify-content: space-between;
    /* flex-wrap:wrap; */
    
}
.col {
    padding: 5px;
}
.card {
    padding: 10px;
    background-color: rgba(212, 221, 216, 0.8);

}

#city-search-btn {
    background-color: rgba(126, 161, 142, 0.7);
}

.past-city {
    background-color: rgba(126, 161, 142, 0.7);
}

.date {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.weather-head {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

}
/* .container .five-day-body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
} */