/* :root { 
 
} */


html {
    scroll-behavior: smooth;
}
body {
    background-image: url('/assets/images/clouds.jpg');
    position: sticky;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(126, 161, 142, 0.8);
    
}
#weather-container{
    display: flex;
    flex-direction: row;
    
}
#daily{
    display: flex;
    flex-direction: row;
}
.container {
    padding: 15px;
    
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap:wrap; */
    
}
.card {
    padding: 10px;
    
    display: flex;
    justify-content:start;
    /* flex-direction: row; */
    /* flex-wrap:wrap; */
    background-color: rgba(212, 221, 216, 0.671);

}
#sidebar{
    /* display: flex; */
    /* flex-direction: column; */
}
.card-header {
    padding: 10px;
    
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* flex-wrap:wrap; */
    background-color: rgba(212, 221, 216, 0.8);

}
.card-text {
    padding: 10px;
    /*  add comment here */
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-direction: row; */
    /* flex-wrap:wrap; */
    background-color: rgba(126, 161, 142, 0.7);

}

#city-search-btn {
    background-color: rgba(126, 161, 142, 0.7);
}

.past-city {
    background-color: rgba(126, 161, 142, 0.7);
}

/* .date { */
    /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
/* } */
/* .weather-head {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column; */

/* } */
/* .img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
} */